#container {
    width: 500px;
    height: 300px;
    border: 1px solid silver;
    overflow: scroll;
}

.virtual-container-row {
    /* border: 1px solid #d3d3d3;
    box-sizing: border-box; */
}

.virtual-container-cell {
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    box-sizing: border-box;
    text-align: center;
}